#title {
	margin-top: 2%;
	text-align: center;
}

#shortenBox {
	margin-top: 2%;
	margin-bottom: 2%;
	text-align: center;
}

#enterUrl {
	width: 40%;
}

#shortenButton {
	padding: 5px 15px;	
	background-color: dodgerblue;
	color: white;
	border: 1px solid black;
	border-radius: 4px;
	font-size: 14px;
	font-weight: bold;	
}

#shortenButton:hover {
	background-color: darkblue;
}

#statusText {
	margin-top: 2%;	
}

#urlTable {
	margin-left: auto;
	margin-right: auto;
	padding-top: 1%;
	padding-bottom: 1%;
	width: 50%;
	/*border: 1px solid black;*/
	border-collapse: collapse;
}

#urlTable th, td {
	padding: 8px;
	text-align: center;
	border-bottom: 1px solid #ddd;
}

tr:hover {
	background-color: #f2f2f2;
}

.rowButton {
	border: 1px solid black;
	border-radius: 4px;
	font-size: 12px;
	padding: 3px 13px;
}

.visitButton {
	background-color: yellow;
}

.visitButton:hover {
	background-color: orange;
	color: white;
}

.copyButton {
	background-color: lightgreen;
	color: black;	
}

.copyButton:hover {
	background-color: green;
	color: white;
}

.deleteButton {
	background-color: red;
	color: white;	
}

.deleteButton:hover {
	background-color: darkred;
	color: white;
}